<!DOCTYPE html>

<!--
  Bluest Berries: Leon Huang, Amanda Tan, Jason Chao, Nia Lam
  SoftDev
  P04: Makers Makin' It, Act II - The Seequel
  2025-04-21
-->

<html>
<html lang="en">
  <head>
    <title>Home</title>

    <!-- bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiG>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="/static/css/style.css">
  </head>

  <body>
    <!-- navbar -->
    <div class="container-fluid">
      <nav class="navbar">
      <ul class="nav">
        <li class="nav-item"> <a class="nav-link" href="{{ url_for('home') }}"> Home</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{{ url_for('login') }}"> Log In </a> </li>
      </ul>
      </nav>
    </div>
    <!------>

    <!-- header/info -->
    <div class="container">
      <h1> The Berriest Blues </h1>
      <h5> <i> by The Bluest Berries </i> </h5>
      <div class="card">
        <p>
          We aim to create a website that displays data for student academic performance
          and the factors impacting said performance. The dataset we are referencing provides us with a wide variety of factors.
          We want to discover and visually demonstrate any correlations between the data. To start, we are particularly interested
          in learning about any relationships between student performance and attendance.
        </p>
      </div>
    </div>
    <!------>

    <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <br>
          <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <!------>

    <!-- footer -->
    <footer class="footer">
      <div class="container">
        &emsp;&emsp;
      </div>
    </footer>
    <!--  -->

  </body>
</html>
